#d1
{
    place-items: center;
    padding: 40px;
    background-color: rgb(36, 36, 42);
    max-width:400px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11);
}

#d2
{
     background-color: rgb(59, 59, 69);
     color: white;
     padding: 40px;
     width: 200px;
     margin:20px;
     font-size: medium;
     border-radius: 20px;
     box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11);
}

.b1
{
    font-size: medium;
     background-color: rgb(59, 59, 69);
     border: none;
     color: white;
     padding: 30px;
     margin:10px;
     border-radius: 20px;
     box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11);
}

.b1:hover
{
    background-color: rgb(99, 99, 114);
    cursor: pointer;
}

body
{
    background-color: grey;
}

h1
{
    text-align: center;
    padding:20px;
    color: white;
    border-radius:20px;
     box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11);
    max-width:400px;
    width:100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:  rgb(36, 36, 42);
    font-family: fantasy,Arial, Helvetica, sans-serif;

}

@media (max-width:480px) {
    #d1
    {
    padding: 30px;
    max-width:280px;
    width: 100%;
    }

    h1
    {

    padding:10px;
    max-width:300px;
    width:100%;
    }

   .b1
{
    font-size: small;
     padding: 20px;
     margin:8px;
}
    
}